.row {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
}

.col {
    background-color: lightgray;
    border: 2px solid red;
    padding: 10px;
    /* margin: 0px 20px; */
}

.col-1 {
    /* width: 20%; */
    /* flex-basis: 20%; */
    flex: 1;
}

.col-2 {
    /* width: 45%; */
    /* flex-basis: 45%; */
    flex: 3;
}

.col-3 {
    /* width: 20%; */
    /* flex-basis: 20%; */
    flex: 1;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul li {
    background-color: red;
    border: 2px solid;
    /* width: 400px; */
    width: 31%;
    height: 200px;
    margin-bottom: 20px;
}